---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>一名对新鲜事物永远怀有热情的咸鱼程序员~</p>
  欢迎光临我的赛博小窝！ (:3[▓▓]
  <p>Arch Linux | Hyprland | neovim | Rust | <s>能用键盘不用鼠标</s></p>
</div>
