---
import { resolvePath } from "@lib/utils";
import Bio from "./Bio.astro";
import { GLOBAL } from "@consts";
import Contact from "./Contact.astro";
---

<div class="start mt-4 flex items-center">
  <img
    src={resolvePath(GLOBAL.authorPhotoSrc, Astro.url.pathname)}
    alt={GLOBAL.author}
    class="mr-8 h-24 w-24 rounded-full"
  />

  <div class="flex-grow">
    <div>
      <strong>Hi, I'm {GLOBAL.author}</strong>
    </div>
    <Bio small />
    <p>
      <strong>Contact me:</strong>
    </p>
    <Contact small />
  </div>
</div>
