---
import TextLink from "./TextLink.astro";
import { BLOG } from "@consts";
---

<div
  data-pagefind-ignore
  style="display: flex; justify-content: center; align-items: center; "
>
  <span style="font-size: 0.875rem"
    >Content licenced under <TextLink href={BLOG.license.href} external
      >{BLOG.license.name}</Link
    ></span
  >
</div>
