---
import { resolvePath } from "@lib/utils";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    href: string;
}

const { href, ...rest } = Astro.props;
---

<a href={resolvePath(href)} {...rest}>
    <slot />
</a>
